@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Generic Styles */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  color: #181a18;
}

/* Shared Styles */
h3 {
  font-size: 48px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Header  */

.header {
  padding: 0.781em 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.logo {
  flex-shrink: 1;
  height: 100%;
  cursor: pointer;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 2.5em;
  /* border: 2px solid red; */
}

.nav__link {
  font-size: 18px;
  color: #181a18;
  cursor: pointer;
  text-decoration: none;
}

/* Hero */

.hero {
  height: 100vh;
  position: relative;
}

.bg-image {
  background-image: url("./assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__badge {
  background-color: #ffffff;
  color: #181a18;
  width: 30%;
  padding: 1em;
  position: absolute;
  top: 140px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero__text {
  max-width: 300px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 24px;
}

.hero p {
  font-size: 18px;
}

/* Future */

.future {
  display: flex;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
}

.future__text {
  background-color: #f2f0f2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.top,
.bottom {
  display: flex;
}

.image-content img {
  width: 50%;
}

.image-content,
.future__text {
  width: 100%;
}

.text {
  border: 2px solid red;
  max-width: 450px;
}

/* Feature */

.feature__card {
  display: flex;
  gap: 20px;
}
